name: NIIT Monitoring CI

on:
  schedule:
    - cron: "0 */2 * * *"   # Runs every 2 hours
  workflow_dispatch:        # Allows manual run

jobs:
  run-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Install Chrome
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable

      - name: Check Chrome version
        run: google-chrome --version

      - name: Run Selenium Tests
        run: mvn -B test
