name: NIIT Monitoring CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *"

jobs:
  run-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Google Chrome
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable || true
          google-chrome --version

      - name: Install ChromeDriver
        run: |
          CHROMEDRIVER_VERSION=$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
          wget -N https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip
          unzip -o chromedriver_linux64.zip
          sudo mv chromedriver /usr/bin/chromedriver
          sudo chmod +x /usr/bin/chromedriver
          chromedriver --version

      - name: Override WebDriver path without code changes
        run: echo "JAVA_TOOL_OPTIONS=-Dwebdriver.chrome.driver=/usr/bin/chromedriver" >> $GITHUB_ENV

      - name: Run Maven Tests
        run: mvn -Dmaven.test.failure.ignore=false test
